/* ***** BEGIN COPYRIGHT BLOCK *****
Copyright (c) 2020 Zia Consulting, Inc., All Rights Reserved
NOTICE:  All information contained herein is, and remains the property of Zia Consulting, Inc.
The intellectual and technical concepts contained herein are proprietary to Zia Consulting, Inc. and may be
covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or
copyright law. Dissemination of this information or reproduction of this material is strictly
forbidden unless prior written permission is obtained from Zia Consulting, Inc.

The copyright notice above does not evidence any actual or intended publication or disclosure
of  this source code, which includes information that is confidential and/or proprietary of Zia Consulting, Inc.

ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE, OR PUBLIC DISPLAY OF OR
THROUGH USE  OF THIS  SOURCE CODE  WITHOUT  THE EXPRESS WRITTEN CONSENT OF ZIA CONSULTING, INC. IS STRICTLY PROHIBITED, AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.

THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS, IN WHOLE OR IN PART.

THIS CODE AND INFORMATION ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE.
***** END COPYRIGHT BLOCK ***** */

@font-face {
	font-family: 'Gotham Medium';
	font-style: normal;
	src:url('resources/Gotham-Medium.otf')
}
@font-face {
	font-family: 'Gotham Bold';
	font-style: bold;
	src:url('resources/Gotham-Bold.ttf')
}

.App{
	font-family: 'Gotham Medium';
	text-transform: uppercase;
 letter-spacing: 0.5px
}

.Header {
	padding-left: 5%;
	padding-right: 5%;
}

.Logo{
	width: auto;
	height: 80px;
	padding-top: 30px
}

.Title{
 padding-left: 10px;
 color: #1E264C;
}

.RefreshButton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
		width: 50px;
		height: 50px;
}

.ColumnFilterBox {
		text-align: center;
		padding-bottom: 25px;
	  font-size: 12px;
}

.ColumnFilterBox-header {
	display: flex;
	padding-left: 10px;
	margin-top: -10px;
	width: 98%;
	justify-content: space-between;
}

.ColumnFilterBox-title {
	text-align: left;
	margin-bottom: 0%;
	color: #037C92;
}

.TimeZoneSelector {
	align-self: flex-end;
}

.TimeZoneSelector-label {
	font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    vertical-align: middle;
}

.TimeZoneSelector-select {
	vertical-align: middle;
	font-size: 1em;
}

.ColumnFilterBox-grid {
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: auto auto auto auto auto auto;
	margin: 5px;
	border: 2px solid #1E264C;
}

.ColumnFilter {
	padding: 1%;
	text-align: left;
	margin-left: 25%;
}

.ColumnFilter-label {
	display: block;
	padding-left: 15px;
	text-indent: -15px;
	width: max-content;
}

.ColumnFilter-input {
	width: 13px;
	height: 13px;
	padding: 0;
	margin: 0;
	vertical-align: top;
	position: relative;
	top: -1px;
	*overflow: hidden;
}

.DateRangeFilter {
	display: inline-flex;
}

.DateRangeButton {
	text-align: center;
	background-color: white;
	text-decoration: none;
	display: inline-block;
	border: 1px solid #ffffff;
	width: 40px;
	height: 25px;
		font-family: 'Gotham Medium';
		text-transform: uppercase;
	font-size: 8px;
	margin: 2px 2px 2px;
}

.DownloadResultsButton {
	text-align: center;
	background-color: #1E264C;
	border: 6px solid #1E264C;
	text-decoration: none;
	color: white;
	display: inline-block;
		font-family: 'Gotham Medium';
		text-transform: uppercase;
	font-size: 12px;
	margin: 2px 2px 2px;
}

.DateRangeButton-filtering {
	text-align: center;
	background-color: white;
	border: 1px solid #ffffff;
	width: 40px;
	height: 25px;
	text-decoration: none;
	display: inline-block;
	font-size: 8px;
	margin: 2px 2px 2px;
	font-weight: bold;
		font-family: 'Gotham Medium';
		text-transform: uppercase;
}

.DateRangeFilterClearButton {
	background-color: white;
	margin: 2px 6px 2px 2px;
	border: 1px solid #ffffff;
	font-size: 8px;
	width: 20px;
	height: 25px;
		font-family: 'Gotham Medium';
		text-transform: uppercase;
}

.rt-thead.-filters {
	/* This doesn't make any sense, but the react-table complicates theming HEAVILY. Do not change these values. */
	background: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 84.5%, #037C92 84.5%, #037C92 99%, rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%);
		font-family: 'Gotham Bold';
		text-transform: uppercase;
		padding-top:5px;
	margin-top: -10px;
	height: 355px;
}

.rt-tbody {
	text-align: center;
	position: relative;
	font-size: 12px;
	margin-top: -300px;
}

.pagination-bottom {
	position: relative;
	font-size: 12px;
}

.select-panel {
	text-align: left;
	font-size: 12px;
}

.react-datepicker__time-container {
	width: unset !important;
	font-size: 12px;
		font-family: 'Gotham Medium';
		text-transform: uppercase;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box
	{
	width: unset !important;
	font-size: 12px;
		font-family: 'Gotham Medium';
		text-transform: uppercase;
}

.react-datepicker__time-list {
	height: 400px !important;
	font-size: 12px;
		font-family: 'Gotham Medium';
		text-transform: uppercase;
}

.ReactTable .rt-resizable-header {
    padding: 6px 24px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.ReactTable .rt-resizer:before {
    display: inline-block;
    position: absolute;
    right: 25px;
    top: -4px;
    height: 30px;
    width: 30px;
    color: transparent;
    content: '.';
    background-size: 30px 30px;
    background-repeat: no-repeat;
    opacity: 0.87;
}

.ReactTable  .rt-resizable-header-content:after {
    position: absolute;
    right: 8px;
    top: 3px;
    height: 18px;
    width: 18px;
    z-index: 120;
    color: transparent;
    content: '.';
}

.ReactTable .rt-th.-sort-asc .rt-resizer:before {
    background-image: url('resources/ascending.png');
}

.ReactTable .rt-th.-sort-desc .rt-resizer:before {
    background-image: url('resources/descending.png');
}
